body,html{
  width:100%;
  margin:0;
  padding:0;
}
body{
  background-color:#b8b8b8;
  font: 12px/1.5 Arial,宋体,Helvetica;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin:0;
}
p{padding:0;margin:0;}
.clearfix:after{
  content:" ";
  clear:both;
  display:block;
}
#page {
  background-color: #e6e6e6;
  margin: auto;
  width: 1120px;
}
#nav_section_top .fist_level{
  background: url("/statics/images/cbg.png") no-repeat;
  color: #fff;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}

#nav_section_top .fist_level > li {
  background: url("/statics/images/caijg.png") no-repeat right 50%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 150px;
  position:relative;
}
#nav_section_top .fist_level > li:hover > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("/statics/images/c1on.png") no-repeat;
}
#nav_section_top .fist_level > li:hover .category{
  display: block;
}
#nav_section_top .fist_level .category {
  background-color: rgb(188, 158, 78);
  display: none;
  font-size: 12px;
  position: absolute;
  width: 200%;
  z-index: 1000;
}
#nav_section_top .second_level > li {
  border: 1px solid tan;
  position:relative;
  line-height: 25px;
}
#nav_section_top .second_level > li:hover > a{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("/statics/images/c3on.png") no-repeat center;
}
#nav_section_top .second_level > li:hover .subCategory{
  display:block;
}
#banner{
  width: 1120px;
  margin: auto;
  text-align: center;
}
.subCategory {
  left: 150px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 775px;
  display:none;
}
.subCategory a{
  margin-right:15px;
}
.subCategory > div {
  background-color: rgb(188, 158, 78);
  display: inline-block;
  padding: 0 20px;
}

#nav_section_left {
  display: inline-block;
  padding: 15px 10px;
  width: 250px;
  float: left;
}
#nav_section_left li {
  background:url(/statics/images/dian1.png) no-repeat 3px 3px;
  background-color: #fff;
  border-bottom: 5px solid #eee;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-left:30px;
  overflow: hidden;
}

#nav_section_left li.active {
  background:url("/statics/images/left1.png") no-repeat 0 0;
  color: #FFF;
}

#main {
  padding: 15px 0;
  vertical-align: top;
}

.productList .item {
  display: inline-block;
  margin: 0 25px 20px;
  text-align: center;
  font-size:12px;
  width: 210px;
  position:relative;
  vertical-align: top;
}
.productList .item > img {
  height: 165px;
  width: 210px;
}
.productInfo {
  background-color: #fff;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  width: 860px;
}
.productInfo .tit {
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  font-size: 16px;
}
.product_thumb > img {max-width: 100%}
.productInfo .descrit{
  padding-left: 0px;
}
.imgGroup{
  border-radius: 5px;
  height: 165px;
  overflow: hidden;
}
.absBg{
  background: url("/statics/images/proqian.png") no-repeat scroll 100% 100%;
  height: 165px;
  position: absolute;
  width: 210px;
}
.retBg{
  background-color: rgb(255, 255, 255);
  height: 165px;
  padding-top: 18px;
}
.bg_over > img {
  width: 100%;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}
.icon {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: right;
  vertical-align: top;
  width: 80px;
}
.icon.es {
  padding-left: 20px;
  text-align: left;
}