extends layout

block content
  #page
    include common/header
    #content.clearfix
      include common/nav_top
      #banner
        img(src="/statics/images/banner2.jpg")
      include common/nav_left
      #main
        .productInfo.aboutus
          if(lg == "en")
            p.
              Jinfeng Maquinas y Materiale S.A. de C.V., since its inception in 2006, has been committed to offer the best quality or the best cost-effective machines that of origin China to the Mexico market. We dedicate the sales of flexible packaging equipments and plastic equipments.#[br]
              After years of full understanding of the China suppliers and familiar with the Mexico market business model, we can provide customers a full set of equipments and technology solutions, to provide the most suitable mechanical equipments to customers as required.#[br]
              All of our Chinese suppliers are fully investigated, good reputated in the industry, most of them have many years of experience in the exportation of machineries overseas of China.#[br]
              We are based locally in Mexico city and strive to provide customers with the most convenient sales and after-sales services.#[br]
              Now benefited from the developed communication, customers could easily attracted with a beautiful machine image and it’s impressive price from the network website , but the network is full of uncertainties, such as the goods does not match the sales description, bad services, or even communication frauds. Our company is located in Mexico City, to provide customers with complete reliability.#[br]
              We effort to make the company as a rich information platform, if you are interested in some of China's equipments, materials and even other topics, we will strive to provide you with the information as accurate as possible.#[br]
              We hope to make progress together with our customers in Mexico in this uncertain changing era!#[br]
          else if(lg == "es")
            p.
              Jinfeng Maquinas y Materiale S.A. de C.V., desde su creación en 2006, se ha comprometido a ofrecer las maquinas de mejor calidad y el mejor costo que de origen China para el mercado de México.Nos dedicamos a la venta de equipos y materiales de empaque flexible y de plástico.#[br]
              Después de años de plena comprensión de los proveedores de China y familiarizado con el modelo de negocio en el mercado de México, podemos ofrecer a los clientes un conjunto completo de equipos y soluciones de tecnologia, para proporcionar la más adecuada de equipamientos mecánicos a los clientes según sus propios necesidades.#[br]
              Todos nuestros proveedores chinos son investigados, buen renombre en la industria, la mayoría de ellos tienen muchos años de experiencia en la exportación de maquinarias en el extranjero de China.#[br]
              Estamos basados localmente en la ciudad de México y nos esforzamos por ofrecer a los clientes el más conveniente de los servicios de venta y posventa.#[br]
              Ahora se han beneficiado por la moderna comunicación, los clientes podrían fácilmente atraído con una hermosa imagen de maquina y el impresionate precio de una página web del internet, pero el internet está llena de incertidumbres, tales como los bienes no coincide con la descripción de las ventas, malos servicios, o incluso los posibles comunicación fraudes. Nuestra empresa se encuentra en la ciudad de México, para ofrecer a los clientes con total fiabilidad.#[br]
              Estamos logrando para hacer la compañia como una plataforma de información, si usted está interesado en algunos de equipos, materiales e incluso otros temas de China, nos esforzaremos para proporcionarle la información tan precisa como sea posible.#[br]
              ¡Esperamos avanzar juntos con nuestros clientes en México en este incierto época!#[br]
          else
            p.
              晋峰印刷机械及材料有限公司自2006年成立以来，一直致力于将中国等最好品质或者最好性价比的机器销售到墨西哥市场。我们经营代理的设备以软包装设备和塑料设备为主。#[br]
              经过多年对中国供应商的充分了解及对墨西哥市场商业模式的熟悉，我们可以提供给客户全套的设备及工艺解决方案，按需要提供给客户最适合的机械设备。#[br]
              我们所有的供货商都是经过充分考察，在业界有着非常良好的口碑，大多有着多年机械出口的经验。#[br]
              我们立足于墨西哥当地，努力提供给客户最便捷的销售及售后的服务。#[br]
              在现在发达的通讯中客户很容易从网络被一台机器漂亮的照片及非常诱人的价格所吸引，但网络上一样充满不可知的因素，如货不符实，没有服务甚至有欺诈的行为。我们公司位于墨西哥城，可以提供给客户的是完全的可靠性。#[br]
              我们一样要把公司打造成一个丰富的信息平台，如果您对中国一些设备，材料甚至其他主题感兴趣，我们将努力为您提供尽量准确的信息咨询。#[br]
              我们希望与墨西哥的各位同仁在多变的时代取得共同的进步！#[br]
    include common/footer
  input(type='hidden' id="currLg" value="#{lg}")
  script(src="/statics/API.js")
  script(src="/statics/js/index.js")