extends layout

block content
  #page
    include common/header
    #content.clearfix
      include common/nav_top
      #banner
        img(src="/statics/images/banner2.jpg")
      include common/nav_left
      #main
        .productInfo.aboutus
          if(lg == "en")
            p.
              Company Name: Jinfeng Maquinas y Materiales S.A. de C.V.#[br]
              Contact:#[br]
              E-mail: Ventas_jinfeng@hotmail.com#[br]
                    ventasjinfeng@gmail.com#[br]
                    jinfeng_guo@outlook.com#[br]
              Tel. (+52) 55 55759903#[br]
              Web: www.bestchinamachine.net#[br]
              Address: Calle Pilares 23, Del Valle, Col del Valle Sur, 03200 Benito Juárez, CDMX#[br]
          else if(lg == "es")
            p.
              Company Name: Jinfeng Maquinas y Materiales S.A. de C.V.#[br]
              Contact:#[br]
              E-mail: Ventas_jinfeng@hotmail.com#[br]
                    ventasjinfeng@gmail.com#[br]
                    jinfeng_guo@outlook.com#[br]
              Tel. (+52) 55 55759903#[br]
              Web: www.bestchinamachine.net#[br]
              Address: Calle Pilares 23, Del Valle, Col del Valle Sur, 03200 Benito Juárez, CDMX#[br]

          else
            p.
              Company Name: Jinfeng Maquinas y Materiales S.A. de C.V.#[br]
              Contact:#[br]
              E-mail: Ventas_jinfeng@hotmail.com#[br]
                    ventasjinfeng@gmail.com#[br]
                    jinfeng_guo@outlook.com#[br]
              Tel. (+52) 55 55759903#[br]
              Web: www.bestchinamachine.net#[br]
              Address: Calle Pilares 23, Del Valle, Col del Valle Sur, 03200 Benito Juárez, CDMX#[br]


    include common/footer
  input(type='hidden' id="currLg" value="#{lg}")
  script(src="/statics/API.js")
  script(src="/statics/js/index.js")