extends layout

block content
  #page
    include common/header
    #content.clearfix
      include common/nav_top
      #banner
        img(src="/statics/images/banner2.jpg")
      include common/nav_left
      #main
        .productInfo.aboutus
          if(lg == "en")
            p.
              We can offer to our respected customers:#[br]
              1, Plastic and packaging machinery sales and customer service. Including the Chinese Spanish translation in the equipment installation.#[br]
              2, Auxiliary Equipments related to the downstream equipment.#[br]
              3, Some consumable materials and raw materials for production of flexible packaging and plastics#[br]
              4, Information on the equipments, other relevant Chinese market investigation and consultation.#[br]
              5, Agent import service of Chinese goods.
          else if(lg == "es")
            p.
              Podemos ofrecer a nuestros clientes respetados:#[br]
              1, Servicios para venta y posventa de maquinarias de plástico y empaques flexibles. Incluyendo la traduccion chino - Español en la instalación de los equipos.#[br]
              2, Equipos auxiliares relacionados con los equipos ventidos.#[br]
              3, Algunos materiales de consumo y materias primas para la producción de empaques flexibles y plásticos#[br]
              4, Información sobre los equipos, investigación y consulta.de otros temas de mercado chino.#[br]
              5, Agente servicio de importación de productos chinos.#[br]
          else
            p.
              1,塑料及包装机械售前售中及售后的服务。包括在设备安装过程中的中文西语的翻译服务等。#[br]
              2,提供与机械设备相关上下游设备。#[br]
              3,提供一些设备生产的耗材和原材料。#[br]
              4,提供关于设备及相关中国市场的调查咨询。#[br]
              5,代理中国商品的进口。#[br]

    include common/footer
  input(type='hidden' id="currLg" value="#{lg}")
  script(src="/statics/API.js")
  script(src="/statics/js/index.js")