#header
    img(src="/statics/images/jfLogo.jpg")
    div.fr
        span.icon.home
            a(href="/") HOME
                img.fl(src="/statics/images/home.png")
        span.icon.en
            a(href="/en")
                img(src="/statics/images/english.png")
        span.icon.es
            a(href="/es")
                img(src="/statics/images/Spanish.png")