#nav_section_top
    ul.fist_level.clearfix
        li
            a(href="#") ABOUT US
        li
            a(href="#") PRODUCTS
            div.category
                ul.second_level
                    each category,i in categorys
                        if(lg == "en")
                            li(data-id="#{category.id}")
                                a(href="#") #{category.name_en}
                        else
                            li(data-id="#{category.id}")
                                a(href="#") #{category.name_es}
        li
            a(href="#") NEWS
        li
            a(href="#") SOLUTION
        li
            a(href="#") CONTACT US