#nav_section_left
    ul
        each category,i in categorys
            - var curCate = cate_id || 0;
            - var isActive = i == curCate;
            - var lang = lg == "en" ? "name_en" : (lg == "es" ? "name_es" : "name");
            li(data-id="#{category.id}" class=isActive ? "active":"") #{category[lang]}